/* Estilos para el contenedor del catálogo */
.container-catalogo {
    margin-top: 7rem;
    padding: 0 15px;
}
.button-cateries {
    color: black;
}
/* Estilos para el contenedor de productos */
.container-products {
    padding: 0 15px;
    gap: 4rem
}

.container-general-card a {
    text-decoration: none;
}

.card-title-product {
    text-decoration: none;
}

@media (max-width: 767px) {
    .container-products {
        margin-left: 20px;
    }
}

/* Estilos para el botón de categoría 'All categories' */
#category_btn {
    color: #7429ba;
    text-align: center;
    width: 100%;
}
.sobelo{
    display: flex;
    flex-direction: column;
}
/* Estilos para los botones de categorías */
#categories_btn {
    color: #7429ba;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.col:hover {
    transform: none!important;
}
/* Estilos al hacer hover sobre los botones de categorías */
#categories_btn:hover {
    background-color: #7429ba;
    border-radius: 1rem;
}

/* Media queries para pantallas grandes */
@media (min-width: 992px) {
    .container-catalogo {
        padding: 0;
    }

    .container-categories-btn {
        width: auto;
        text-align: center;
    }

    #categories_btn {
        width: 100%;
    }
}

/* Contenedor principal de categorías */
.container-categories {
    position: relative;
    padding: 20px;
    border-radius: 1rem;
    margin: 20px;
    width: 17rem;
    box-shadow: 10px 9px 35px -14px rgba(195,179,209,1);


}

/* Media queries para pantallas pequeñas (teléfonos) */
@media (max-width: 991px) {
    .container-catalogo {
        padding: 0;
    }

    .container-categories-btn {
        width: auto;
        text-align: center;
    }
    
    #categories_btn {
        width: auto;
    }
    
    .container-categories {
        margin: 10px auto;
        width: 90%;
        max-width: none;
        margin-bottom: 2rem;
    }
}
@media (max-width: 767px) {
    .container-categories {
        margin-left: 32px;
    }
}

/* Estilos adicionales para la barra de búsqueda */
.search-bar {
    max-width: 500px;
    margin: 0 auto 20px;
    margin-bottom: 5rem;
}

@media (max-width: 767px) {
    .search-bar {
        margin-left: 20px; /* Ajusta este valor según tus necesidades */
    }
}

@media (min-width: 768px) {
    .search-bar {
        max-width: 600px;
    }
}
