.account-settings-wrapper {
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.account-settings-container {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.account-settings-title {
  margin-left: 10px;
  font-size: 1.5em;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #7429BA;
}

.upload-icon {
  position: absolute;
  right: 280px;
  top: -7px;
  cursor: pointer;
}

.account-settings-form .form-group {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper .form-control {
  flex-grow: 1;
}

.input-wrapper .edit-icon {
  cursor: pointer;
}

.selection-file {
  display: none;
}

.save-button {
  background-color: #7429BA;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .account-settings-container {
    padding: 15px;
  }

  .profile-picture-container {
    margin-bottom: 15px;
  }

  .profile-picture {
    width: 90px;
    height: 90px;
  }

  .account-settings-title {
    font-size: 1.4em;
  }
}

@media (max-width: 992px) {
  .account-settings-container {
    padding: 10px;
  }

  .profile-picture {
    width: 80px;
    height: 80px;
  }

  .account-settings-title {
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  .account-settings-container {
    padding: 10px;
  }

  .profile-picture {
    width: 70px;
    height: 70px;
  }

  .account-settings-title {
    font-size: 1.2em;
  }
  .upload-icon {
    position: absolute;
    right: 280px;
    top: -7px;
    cursor: pointer;
  }
}

@media (max-width: 576px) {
  .account-settings-container {
    width: 100%;
    padding: 10px;
  }

  .profile-picture {
    width: 60px;
    height: 60px;
  }

  .account-settings-title {
    font-size: 1.1em;
  }
}

@media (max-width: 360px) {
  .account-settings-container {
    padding: 5px;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
  }

  .account-settings-title {
    font-size: 1em;
  }
  .upload-icon {
    position: absolute;
    right: 0px;
    top: -7px;
    cursor: pointer;
  }
}
