.container-nav_bar {
    margin: 0 2rem 0 2rem;
}

.navbar {
    height: 100px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.items-navbar {
    gap: 22px;
}


.navbar-logo {
    max-height: 80px; 
}


.show{
    display: flex;
    flex-direction: row;

}




/* MEDIA QUERY */
 @media (max-width: 360px) { 
    .navbar-main {
        width: 108%;
    }
    .search-form input {
        width: 18rem;
    }
    .img-logo img {
        display: block;
    }
 }