.card-container-login {
    width: 36%;
    background-color: rgba(225, 192, 255, 0.2); /* Fondo #e1C0ff con 20% de opacidad */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 6%;
    box-shadow: 1px 3px 76px 24px rgba(109,89,128,1);
    border-radius: 3rem;
}

.card-container-login .card-title,
.card-container-login .card-text,
.card-container-login .form-label,
.card-container-login .form-text {
  color: white; /* Color de texto negro */
}

.card-body-login {
    padding: 3rem;
}

.form-text-login {
    text-align: center;
}
.button-sign_in {
    background-color: #7429ba !important;
    width: 100%;
}

.button-sign_in:hover {
    background-color: #9c70c4;
}

.card-container-login .card-title, 
.card-container-login .card-text, 
.card-container-login .form-label,
.card-container-login .form-text {
    color: #121212 !important;
}



hr {
    color: white;
}
.nav-link-login {
    color:#121212 !important;
    text-decoration: none;
}
.nav-link-login:hover {
    color: #9c70c4 !important;
}

.nav-link-login span {
    color:#9c70c4;
}


/* MEDIA QUERY */
@media (max-width: 820px) { 
    .card-container-login {
        width: 80%;
    }
    .card-body-login{
        padding: 1rem;
    }
 }
@media (max-width: 768px) { 
    .card-container-login {
        width: 55%;
    }
    .card-body-login{
        padding: 1rem;
    }
 }

@media (max-width: 430px) { 
    .card-container-login {
        width: 71%;
    }
    .card-body-login{
        padding: 1rem;
    }
 }

@media (max-width: 414px) { 
    .card-container-login {
        width: 71%;
    }
    .card-body-login{
        padding: 1rem;
    }
 }

@media (max-width: 375px)  { 
    .card-container-login {
        width: 88%;
    }
    .card-body-login{
        padding: 1rem;
    }
 }

 @media (max-width: 360px) { 
    .card-container-login {
        width: 88%;
    }
    .card-body-login{
        padding: 1rem;
    }
 }

 @media (max-width: 344px) { 
    .card-container-login {
        width: 88%;
    }
    .card-body-login{
        padding: 1rem;
    }
 }


 @media (min-width: 1400px) { 
    .card-container-login {
        width: 34%;
    }
    .card-body-login{
        padding: 1rem;
    }
  }