.sol {
    display: flex;
    flex-wrap: wrap;
}

.container-home {
    border: solid 35px white;
    background-color: #a3a3a3;
    margin: 3rem;
    color: #7429ba;
    padding: 1rem;
    height: 60vh;
    width: 175vh;
}

.containerImg {
    position: absolute;
    bottom: 10rem;
    left: 32rem;
}
.containerImg img {
    width: 90%;
}

.title-home {
    font-size: 10rem;
    text-align: center;
}

.btn-home {
    background-color: #7429ba;
    width: 20%;
}

.btn-home:hover {
    background-color: #9c70c4;
}

.morado-4 {
    width: 74vh;
    border: solid 20px rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, #7429ba, #7c39bc, #8446be, #8c53c0, #9360c2, #9869c2, #9d72c2, #a17bc2, #a483c1, #a78cbf, #aa94be, #ad9cbc);    color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    height: 40vh;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
}
.btn-morado-big {
    background-color: #7429ba;
}

.btn-morado-big:hover {
    background-color: #9c70c4;
}

.elecontainerImgc img {
    width: 22vh;
    height: 12vh;
}

@media (max-width: 1199.98px) {
    .title-home {
        font-size: 7rem;
    }
    .containerImg img {
        width: 45%;
    }
    .containerImg {
        bottom: 18rem;
        left: 10rem;
    }
    .container-home {
        height: 60%;
    }
}

@media (max-width: 767.98px) {
    .title-home {
        font-size: 5rem;
    }
    .btn-home {
        width: 20rem;
        align-self: center;
    }
    .container-home {
        height: 50%;
    }
}

@media (max-width: 383.98px) {
    .containerImg {
        bottom: 9rem;
        left: 7rem;
    }
}

.category {
    border: 2px solid #7429ba;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

.category button {
    margin: 5px;
    border-radius: 15%;
    background-color: #131313;
    color: #7429ba;
}

.category button:hover {
    background-color: #7429ba;
    color: white;
}


.morado {
    border: solid 20px rgb(255, 255, 255);
    background-color: #a3a3a3;
    margin: 1rem;
    color: #7429ba;
    padding: 1rem;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    height: 40vh;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
}

.elecontainerImgc {
    position: relative;
    bottom: 14rem;
    left: 8rem;
}

.elecontainerImgc-4 {
    position: relative;
    bottom: 12rem;
    left: 13rem;
    transform: rotate(30deg);

}
.elecontainerImgc-4 img {
    width: 36vh;
    height: 21vh;


}

.title-morado {
    font-size: 5vh;
    align-self: center;
}

.btn-morado {
    background-color: #7429ba;
    width: 80%;
}
.btn-morado:hover {
    background-color: #9c70c4;
}
