.sol {
    display: flex;
    flex-wrap: wrap;
}

.container-home {
    border: solid 35px white;
    background-color: #a3a3a3;
    margin: 3rem;
    color: #7429ba;
    padding: 1rem;
    display: flex;
    height: 60vh;
    width: 150vh;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.containerImg {
    position: absolute;
    bottom: 4rem;
    left: 50rem;
}

.title-home {
    font-size: 11vh;
    align-self: center;
}

.btn-home {
    background-color: #7429ba;
    width: 20%;
}

@media (max-width: 1199.98px) {
    .title-home {
        font-size: 7rem;
    }
    .containerImg img {
        width: 45%;
    }
    .containerImg {
        bottom: 18rem;
        left: 10rem;
    }
    .container-home {
        height: 60%;
    }
}

@media (max-width: 767.98px) {
    .title-home {
        font-size: 5rem;
    }
    .btn-home {
        width: 20rem;
        align-self: center;
    }
    .container-home {
        height: 50%;
    }
}

@media (max-width: 383.98px) {
    .containerImg {
        bottom: 9rem;
        left: 7rem;
    }
}

.category {
    border: 2px solid #7429ba;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

.category button {
    margin: 5px;
    border-radius: 15%;
    background-color: #131313;
    color: #7429ba;
}

.category button:hover {
    background-color: #7429ba;
    color: white;
}


.morado {
    border: solid 20px rgb(255, 255, 255);
    background-color: #a3a3a3;
    margin: 3rem;
    color: #7429ba;
    padding: 1rem;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    height: 40vh;
    width: 50vh;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
}

.elecontainerImgc {
    position: relative;
    bottom: 15rem;
    left: 6rem;
}

.title-morado {
    font-size: 5vh;
    align-self: center;
}

.btn-morado {
    background-color: #7429ba;
    width: 80%;
}
